/****************************************************************
* variables 
****************************************************************/
:root {
  --color-dark: #222;
  --color-light: #fff;
  /* --color-light: #222;
  --color-dark: #fff; */
  --color-primary: #e32;
  --color-secondary: #7ff;
  --site-font-family: 'Roboto';

  --header-height: 60px;
  --footer-height: 60px;

  --line-width: 4px;
}

@custom-media --tablet-breakpoint (max-width: 1200px);
@custom-media --mobile-breakpoint (max-width: 800px);

body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--site-font-family);
  overscroll-behavior-y: none;
  color: var(--color-dark);
  background-color: var(--color-light);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

a {
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    color: var(--color-secondary);
  }
}

* {
  /* border: 1px solid #ccc; */
}
